#| IOSTANDARD=LVCMOS33 | SLEW = FAST | DRIVE =8

NET "CLK" LOC = "T8" ;

NET "ENC_A" LOC="A13" |IOSTANDARD = LVCMOS33;
NET "ENC_B" LOC="C13" |IOSTANDARD = LVCMOS33;


NET "ADin<11>" LOC = "E11";
NET "ADin<10>" LOC = "E10";
NET "ADin<9>" LOC = "D9" ;
NET "ADin<8>" LOC = "E8" ;
NET "ADin<7>" LOC = "F9" ;
NET "ADin<6>" LOC = "C4" ;
NET "ADin<5>" LOC = "D8" ;
NET "ADin<4>" LOC = "F7" ;
NET "ADin<3>" LOC = "C7" ;
NET "ADin<2>" LOC = "C6" ;
NET "ADin<1>" LOC = "D6" ;
NET "ADin<0>" LOC = "D5" ;
NET "CLK_DIV3" LOC = "E7" ;
NET "OTR" LOC = "C9";

NET "SPI_CS" CLOCK_DEDICATED_ROUTE = FALSE;

NET "SPI_MOSI" LOC = "A7";
NET "SPI_MISO" LOC = "A11" ;
NET "SPI_CLK" LOC = "A9"  ;
NET "SPI_CS" LOC = "A10" 	 ;